header{
  background-color:#0a192f !important;
}

.logo-title {
  font-family: 'Pacifico', cursive !important;
  font-size: 40px;
  line-height: 0.86;
  text-decoration: none !important;
  color: #ccd6f6 !important;
}

.Navigation-inputInput-8 {
  width: 120px;
  background-color:#102648 !important;
}

.MuiAppBar-colorPrimary {
  color: rgb(153, 153, 153) !important;
}

.Navigation-searchIcon-6 {
  width: 72px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  pointer-events: none;
  justify-content: center;
  z-index:100000 !important;
}

.header-logo{
    margin-right: 24px;
  }
.category-drawer{
  width: 300px !important;
  z-index: o;
}
.list-item span, .list-item i{
  font-size:1.2rem;
}
.category-header{
  margin-top:57px;
  padding-left:10px;
  padding:15px;
  background-color: #e7e7e7;
  color: #6a6a6a;
  width:100%;
  height:30px;
  font-size:22px;
  line-height:2;
}
.category-header div{
  margin-left:12px;
}
.category-header span{
  margin-left:5px;
}



