header{
  background-color:#2196f3 !important;
  margin-bottom:15px;

}
.logo-title{
  font-family: 'Pacifico', cursive !important;
  font-size:25px;
}
.header-logo{
    margin-right:24px;
  }
.sub-nav{
  background-color:#2196f37d;
  margin-bottom: 15px;
  z-index:1;
  box-shadow:0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}


