hr {
    border-top: 1px solid #ebebeb;
    margin: 1em 0;
}
.weather{
    width: 30rem;
    display: flex;
}
.weather-summary{
    margin-bottom: 0 !important;
    margin-top: 1.25rem;
    padding:1rem;
    background-color:#2196F0;
    font-size:15px;
    border-radius: .55rem;
    color: rgba(255, 255, 255, 0.932);
}
.current-city-name{
    font-size: 20px; 
    font-weight: bold;   
}
.current-temp{
    font-size: 60px;    
    text-align: center;
    line-height: 1;
}
.forecast-day{
    padding-bottom: 5px;
}
.container-weather{
    padding:10px;
    display:flex;
    flex-direction:column;   
    width:100%;
}
.column-current{
    flex:1;
    text-align:center;
}
.container-current{
    display:flex;
    flex-direction: row;
}
.container-forecast{
    display:flex;
    flex-direction:row;
}
.column-forecast{
    flex:1;
    text-align:center;
    
}
.weather-header{
    margin:5px;
    margin-bottom:0;
    font-size:25px;
    color:rgb(0, 0, 0);
    text-align:left;
}
.current-status{
    margin-top:10px;
    font-size:20px;
    text-align: center;
}
.forecast-high{
    margin: 0;
    font-size: 18px;
}
.forecast-low{
    margin:0;
    font-size: 18px;
    color:rgba(131, 131, 131, 0.808);
}
@media screen and (max-width: 800px){
    .weather{
        display:none;
    }
}
