.col-xs-2{
    padding: 5px;
}
.col-half-offset{
    margin-left:4.166666667%
}
.current-city-name{
    font-size: 20px; 
    font-weight: bold;   
}
.current-temp{
    font-size: 40px;    
    text-align: center;
}
.current-high-low{
    text-align: center;
}
.forecast-day{
    padding-bottom: 5px;
    text-align: center;
}
.red{
    color:red;
}
.blue{
    color:blue;
}
.weather-summary{
    margin-bottom: 0 !important;
    margin-top: 1.25rem;
}